.wrapper {
  .test {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    background-color: pink;
  }

}

.withAnimation {
  .test:nth-of-type(1) {
    background-color: red;
    animation: fadeInDown1 1s;
  }

  .test:nth-of-type(2) {
    background-color: red;
    animation: fadeInDown2 1s;
  }

  .test:nth-of-type(3) {
    animation: fadeInDown3 1s;
  }

  .test:nth-of-type(4) {
    animation: fadeInDown4 1s;
  }
}


@keyframes fadeInDown1 {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  11% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInDown2 {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  22% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInDown3 {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  33% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInDown4 {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  44% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}